<header class="header">
  <div class="d-flex flex-row justify-content-lg-between">
    <div class="left">
      <ul id="header_ul">
        <li id="header_li_logo" class="m-auto"><a routerLink="/home" class="nav-link"><img src="assets/logo.png" alt="" class="header_li_svg"></a></li>
        <li id="header_li"><a routerLink="/servers" class="nav-link"><img src="assets/chip.svg" alt="" class="header_li_svg">Servers</a></li>
        <li id="header_li"><a routerLink="/nas" class="nav-link"><img src="assets/server-path.svg" alt="" class="header_li_svg">NAS</a></li>
        <li id="header_li"><a routerLink="/switch" class="nav-link"><img src="assets/switch.svg" alt="" class="header_li_svg">Switch</a></li>
        <li id="header_li"><a routerLink="/firewall" class="nav-link"><img src="assets/fire.svg" alt="" class="header_li_svg">Firwalling</a></li>
        <li id="header_li"><a routerLink="/infra" class="nav-link"><img src="assets/building.svg" alt="" class="header_li_svg">Infrastructure</a></li>
      </ul>
    </div>
    <div class="right">
      <a class="avatar"><img src="assets/avatar-svgrepo-com.svg" alt="svg" class="avatar"></a>
    </div>
  </div>
</header>